/* Start CSS-Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS-Reset */

@font-face {
    font-family: typewriter;
    src: url( 'Albertsthal_Typewriter.ttf' );
}

@font-face{
	font-family: Pacifico;
	src: url("Pacifico.ttf");
}

body {
	font-family: georgia, serif;
    background: #DBDBD6;
	background-image: url("purty_wood.png");
    padding: 0px;
}
h1 {
	color: black;
    font-family: Pacifico;
    font-size: 50px;
    padding-left: 5px;
    margin-bottom: 0;
}
#page {
	margin: 20px auto 20px;
	width: 497px;
}
.messageBread {
	background: #FFF;
	width: 100%;
	margin-top: 7px;
	padding: 3px;
	box-shadow: 5px 5px 7px 1px #000;
}
.messageBread p {
	padding: 3px;
}
.messageBread .date {
	font-family: georgia, serif;
	background: none;
	margin-top: 0;
	padding: 0;
	box-shadow: none;
	text-align: right;
	font-size: small;
}
.messageBread a, .messageBread a:hover, .messageBread a:visited, .messageBread a:active{
	color: #000;
	text-decoration: none;
	float: right;
	font-size: smaller;
	font-weight: bold;
	padding-left: 3px;
}
	
#inputArea {
	font-family: georgia, serif;
	background: #FFF;
	width: 100%;
	margin-top: 7px;
	padding: 3px;
	box-shadow: 5px 5px 7px 1px #000;
}
#counter {
	text-align: right;
	font-family: georgia, serif;
}
textarea {
	font-family: georgia, serif;
	display: block;
	margin: 5px auto;
	width: 480px;
	height: 250px;
}
input[type="submit"] {
	border: 0;
	font-family: georgia, serif;
	margin-left: 425px;
	width: 70px;
}
.alert {
	color: red;
}